.aboutShop {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/product_background_sample.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 25px;
    margin: 0 0 15px 0;
    width: 100%;
    h2 {
      font-size: 2em;
      text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
      margin: 25px 0 15px 0;
      width: 100%;
      text-align: center;
    }
    p {
      margin-bottom: 5px;
      text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
      text-align: justify;
      font-size: 1.2em;
    }
    ul {
      margin: 0 0 5px 15px;
      text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
      text-align: justify;
      font-size: 1.2em;
    }
    @media(min-width: 768px) {
      width: 80%;
      align-items: flex-start;
      padding: 45px;
      h2 {
        margin: 0px 0 15px 0;
      }
    }
  }
}
