.eachProduct {
  background-image: url(../images/Fotolia_69824599_L.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @media(min-width: 580px) {
      flex-direction: row;
      justify-content: center;
    }
    @media(min-width: 768px) {
      width: 80%;
    }
  }
}

.product {
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/Fotolia_143931382_M.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1 {
    text-align: center;
    min-width: 30vh;
    border-radius: 5px;
    padding: 10px;
  }
  .imageDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    .productImage {
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 5px;
    }
    .productDescription {
      text-align: center;
      min-width: 200px;
      min-height: 200px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 2px solid #00724A;
      font-size: 0.8em;
      h2 {
        background-color: #00724A;
      }
      div {
        padding: 5px 0 5px 0;
      }
    }
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    h3 {
      background-color: #00724A;
      width: 100%;
    }
    div {
      border: 2px solid #00724A;
      padding: 5px 0 5px 0;
    }
  }

  .preparation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    h3 {
      background-color: #00724A;
      width: 100%;
    }
    div {
      border: 2px solid #00724A;
      padding: 5px 0 5px 0;
      width: 100%;
    }
  }
  .comentary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    h3 {
      background-color: #00724A;
      width: 100%;
    }
    div {
      border: 2px solid #00724A;
      padding: 5px 0 5px 0;
      width: 100%;
    }

  }
  button {
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 30vh;
    border-radius: 5px;
    background-color: rgb(115, 65, 35);
    padding: 10px;
    margin-top: 10px;
  }

  @media(min-width: 580px) {
    padding: 50px 50px 30px 50px;
    .imageDescription {
      .productDescription {
        font-size: 1em;
      }
    }
    .ingredients {
      font-size: 1em;
    }
    .preparation {
      font-size: 1em;
    }
    .comentary {
      font-size: 1em;
    }
  }

  @media(min-width: 900px){
    width: 80%;
  }

  @media(min-width: 1024px){
    width: 60%;
  }
}
