.mainPage {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 768px) {
      flex-direction: row;
    }
    @media(min-width: 1024px) {
      width: 80%;
    }
    .banner {
      width: 100%;
      display: flex;
      align-items: center;
      @media(min-width: 768px) {
        width: 50vw;
      }
      h1 {
        color: #00724A;
        font-weight: 100;
        text-transform: uppercase;
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
        font-size: 1.5em;
        font-family: 'Sedgwick Ave Display', Times, serif;
        text-align: center;
        @media(min-width: 768px) {
          font-size: 1.5em;
        }
        @media(min-width: 1024px) {
          font-size: 2em;
        }
      }
    }
    .welcomeText {
      display: flex;
      justify-content: center;
      width: 100%;
      @media(min-width: 580px){
        width: 80%;
      }
      .paragraphs {
        border-radius: 15px;
        background-image: url(../images/Fotolia_143931382_M.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 80px 0px 60px 0px;
        p {
          font-family: "Times New Roman", Times, serif;
          text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
          text-align: justify;
          padding: 5px 30px 5px 30px;
          font-size: 1.3em;
        }
        .sign {
          width: 100%;
          text-align: right;
        }
        @media(min-width: 768px){
          font-size: 1.1em;
          min-height: 75vh;
        }
        @media(min-width: 920px){
          font-size: 1.2em;
          min-height: 75vh;
        }
        @media(min-width: 1366px){
          font-size: 1.45em;
          min-height: 75vh;
        }
      }
    }
  }
}
