.contact {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .data {
      display: flex;
      min-height: 300px;
      width: 300px;
      flex-direction: column;
      align-items: center;
      background-image: url(../images/product_background_sample.png);
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      h2 {
        margin: 20px 20px 10px 20px;
        font-size: 2em;
        text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
      }
      .info {
        margin: 0 0 15px 0;
        padding: 10px;
        display: flex;
        .left {
          display: none;
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div {
            margin: 0;
            width: 100%;
            font-size: 1.2em;
            font-weight: bolder;
          }
          p {
            margin-bottom: 5px;
            text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
            text-align: justify;
            font-size: 1.2em;
          }
        }
      }
    }
    @media(min-width: 768px) {
      width: 80%;
      .data {
        background-image: url(../images/product_background_sample_copy.png);
        width: 80%;
        .info {
          width: 80%;
          .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 20%;
            img {
              width: 48px;
              height: 48px;
              background-color: rgba(255, 255, 255, 0.7);
              border-radius: 15px;
              margin-right: 5px;
            }
            .tel {
              margin-top: 55px;
            }
          }
          .right {
            width: 80%;
          }
        }
      }
    }
    @media(min-width: 900px){
      .data {
        width: 50%;
      }
    }
  }
}
