@font-face {
	font-family: 'Sedgwick Ave Display';
	src: url('../fonts/SedgwickAveDisplay-Regular.eot');
	src: local('Sedgwick Ave Display Regular'), local('SedgwickAveDisplay-Regular'),
		url('../fonts/SedgwickAveDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SedgwickAveDisplay-Regular.woff2') format('woff2'),
		url('../fonts/SedgwickAveDisplay-Regular.woff') format('woff'),
		url('../fonts/SedgwickAveDisplay-Regular.ttf') format('truetype'),
		url('../fonts/SedgwickAveDisplay-Regular.svg#SedgwickAveDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
