footer {
  display: flex;
  justify-content: center;
  background-color: #00724A;
  .container{
    width: 100%;
    .contact {
      color: white;
      min-height: 10vh;
      font-size: 0.7em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media(min-width: 768px) {
        font-size: 0.8em;
      }
    }
  }
}
