header {
  display: flex;
  flex-direction: column;
  .facebookLike {
    display: flex;
    justify-content: flex-end;
    button {
      width: 100px;
      color: white;
      background-color: #365899;
      border-radius: 5px;
      cursor: pointer;
    }
} 
}
