header {
  display: flex;
  justify-content: center;
  .container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
    .facebookLike {
      display: flex;
      justify-content: flex-end;
      button {
        width: 100px;
        color: white;
        background-color: #365899;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .searcher {
      display: flex;
      justify-content: flex-end;
      .search {
        width: 100%;
        margin-top: 5px;
        border: 1px dotted grey;
        display: flex;
        input[type="text"] {
          width: 100%;
          height: 25px;
          border: none;
          background-color: rgba(255, 255, 255, 0.7);
        }
        input[type="submit"] {
          cursor:pointer;
          border-radius: 5px;
          background-color: #00724A;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 50px;
        }

        // @media(min-width: 768px) {
        //   display: flex;
        //   width: 30%
        // }
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        img {
          width: 160px;
          height: 125px;
        }
      }
      .herbariumLink {
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 15px;
        margin-right: 5px;
        width: 48px;
        height: 48px;

        img {
          height: 100%;
          width: 100%;
        }
        div {
          display: none;
          font-family: 'Sedgwick Ave Display', Arial, sans-serif;
          font-size: 1.2em;
          color: white;
          text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
        }

        // @media(min-width: 768px) {
        //   width: 192px;
        //   height: 96px;
        //   background-color: inherit;
        //   &:hover {
        //     background-color: rgba(255, 255, 255, 0.7);
        //   }
        //   a {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     img {
        //       height: 70%;
        //       width: 70%;
        //     }
        //     div {
        //       display: block;
        //     }
        //   }
        // }
      }

      .searchIcons {
        display: flex;
        #menuIcon, #searchIcon {
          width: 48px;
          height: 48px;
          background-color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
          border: 2px solid black;
          border-radius: 15px;
          margin-right: 5px;
        }
        // @media(min-width: 768px) {
        //   #menuIcon {
        //     display: none;
        //   }
        //   #searchIcon {
        //     display: none;
        //   }
        // }
      }
    }

    .menu {

      list-style-type: none;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      // position: fixed;
      // z-index: 1;
      // overflow-x: hidden;
      // transition: 0.5s;


      li {
        font-family: 'Sedgwick Ave Display', Arial, sans-serif;
        font-size: 1.2em;
        color: white;
        background-color: #00724A;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 8vh;
        width: 100vw;
        margin-top: 5px;
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
        &:hover {
          text-decoration: underline;
        }
      }

      // @media(min-width: 768px) {
      //   display: flex;
      //   flex-direction: row;
      //   margin-bottom: 10px;
      //   li{
      //     background-color: inherit;
      //     text-align: center;
      //     width: 11vw;
      //     margin-left: 10px;
      //     margin-top: 0px;
      //     border: 0px;
      //     &:hover {
      //       -webkit-transform: rotate(-10deg) scale(1.3);
    	//       -moz-transform: rotate(-10deg) scale(1.3);
    	//       -o-transform: rotate(-10deg) scale(1.3);
      //       text-decoration: none;
      //
      //     }
      //     &:active {
      //       color: #00724A;
      //     }
      //   }
      // }
    }

  }
}
