.left {
  width: 100vw;
  display: flex;
  flex-direction: column;
  @media(min-width: 768px) {
    width: 75vw;
    background-image: url(../images/b.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
