.listOfProducts {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @media(min-width: 580px) {
      flex-direction: row;
      justify-content: space-around;
    }
    @media(min-width: 768px) {
      width: 80%;
    }
  }
}

.products {
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  min-height: 400px;
  width: 250px;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/product_background_sample.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 1.3em;
    text-align: center;
    min-width: 30vh;
    border-radius: 5px;
    padding: 0px 15px 10px 15px;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    p {
      font-size: 0.6em;
    }
  }
  .product_front {
    margin-bottom: 10px;
    min-width: 200px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    /* Flipper */
    backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
    z-index: 2;
  	transform: rotateY(0deg);
  }
  .product_back {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    background-color: white;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
    backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
    transform: rotateY(180deg);
    border: 1px solid black;
    border-radius: 5px;
  }
  button {
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 30vh;
    background-color: rgb(115, 65, 35);
    border-radius: 5px;
    padding: 10px;
  }
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container {
  min-width: 200px;
  min-height: 200px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
