#main {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/b.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media(min-width: 768px) {
    flex-direction: row;
    background-image: inherit;
  }
}
