.notFound {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  .container {
    background-image: url(../images/product_background_sample.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h1 {
      margin: 20px 20px 10px 20px;
      font-size: 3em;
      text-align: center;
      text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
    }
    p {
      text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
      text-align: justify;
      font-size: 1.5em;
    }

    @media(min-width: 768px) {
      width: 80%;
    }
  }
}
